{% extends "layout/base.html" %}

{% block LayoutTitle %}{% block title %}{% endblock %} - 控制台{% endblock %}

{% block LayoutHead %}
<style>
    /*控制台页面布局*/
    .header {
        height: 59px;
        background-color: transparent;
    }
    .layui-logo img {
        width: auto;
        height: 50px;
        padding-top: 5px;
    }
    .header .layui-nav {
        position: absolute;
        right: 5px;
        top: 0;
        padding: 0;
        background: none;
    }
    .footer {
        color: #333;
        /*position: fixed;*/
        left: 0;
        right: 0;
        bottom: 0;
        padding: 3px 1em 3px 1em;
        text-align: center;
    }
</style>
{% block head %}{% endblock %}
{% endblock %}

{% block LayoutBody %}
<div>
    <div class="layui-header header">
        <div class="layui-container-fluid">
            {% include "ref/nav.html" %}
        </div>
    </div>
    {% block content %}{% endblock %}
    <div class="layui-footer footer">
        <div class="layui-container">
            {% include "ref/footer.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block LayoutScript %}
{% block script %}{% endblock %}
{% endblock %}
