{% extends "layout/base.html" %}

{% block LayoutTitle %}{% block title %}{% endblock %}{% endblock %}

{% block LayoutHead %}
<style>
    /*公开页面背景图*/
    body, html {
        overflow: hidden;
    }
    html {
        background-image: url("{{ g.userinfo.ucfg_bg_mg or g.site.bg_mg or url_for('static', filename='img/bg5.jpg') }}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "MicrosoftYaHei", "WenQuanYi Micro Hei", sans-serif;
    }
    body {
        background-color: rgba(255, 255, 255, {{ g.userinfo.ucfg_bg_ransparency or g.site.bg_ransparency or 0.5|float }});
    }
    @media screen and (max-width: 500px) {
        html {
            background-image: url("{{ g.userinfo.ucfg_bg_mobile or g.site.bg_mobile or url_for('static', filename='img/mbg1.jpg') }}");
        }
    }
    .layui-layout-admin .layui-footer {
        line-height: 18px;
    }
</style>
{% block head %}{% endblock %}
{% endblock %}

{% block LayoutBody %}
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        {% include "ref/nav.html" %}
    </div>
    <div class="layui-body">
        <!-- 正文 -->
        {% block content %}{% endblock %}
    </div>
    <div class="layui-footer">
        {% include "ref/footer.html" %}
    </div>
</div>
{% endblock %}

{% block LayoutScript %}
{% block script %}{% endblock %}
{% endblock %}
