{% extends "layout/control.html" %}

{% block title %}个人中心{% endblock %}

{% block head %}
<style>
    #page {
        text-align: center;
    }
    .waterfall {
        -moz-column-count: auto;
        -webkit-column-count: auto;
        column-count: auto;
        -moz-column-width: 15em;
        -webkit-column-width: 15em;
        column-width: 15em;
        -moz-column-gap: 1em;
        -webkit-column-gap: 1em;
        column-gap: 1em;
    }
    .pin {
        margin: 0 0.125em 1em;
        /*
        padding: 1em;
        -moz-page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        break-inside: avoid;
        background: white;
        -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
        */
    }
    .pin img {
        width: 100%;
        /*padding-bottom: 1em;*/
        margin-bottom: 0.5em;
        border-bottom: 0px solid #fff;
    }
    .pin img:hover {
        transform:scale({{ g.userinfo.ucfg_mypic_scale or 1|float }});
    }
    .pin .description {
        text-align: center;
        position: absolute;
    }
    body .my-layer .layui-layer-btn .layui-layer-btn0 {
        background: #FF5722;
        border-color: #FF5722;
        color: #fff;
    }
    body .my-layer .layui-layer-btn .layui-layer-btn2 {
        background: #01AAED;
        border-color: #01AAED;
        color: #fff;
    }
    #albums {
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="layui-container">
    <div class="layui-tab layui-tab-brief" lay-filter="tab">
        <ul class="layui-tab-title">
            <li class="layui-this" lay-id="profile">个人资料</li>
            <li lay-id="password">修改密码</li>
            <li lay-id="setting">用户设置<span class="layui-badge-dot"></span>
            </li>
            <li lay-id="picbed">我的图片</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form lay-filter="profileForm" class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-inline">
                            <input type="text" required="" autocomplete="off" value="{{ g.userinfo.username }}"
                                class="layui-input layui-disabled" disabled="">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            {% if g.is_admin %}
                            <scan style="color: #5FB878;font-weight: bold;">你好，管理员！</scan>
                            {% endif %}
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">昵称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="nickname" autocomplete="off" value="{{ g.userinfo.nickname }}"
                                placeholder="个性化的别名" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">头像</label>
                        <div class="layui-input-inline">
                            <input type="text" name="avatar" autocomplete="off" value="{{ g.userinfo.avatar }}"
                                placeholder="头像URL" class="layui-input">
                        </div>
                    </div>
                    {{ intpl("profile") }}
                    <div class="layui-form-item">
                        <button class="layui-btn" lay-filter="profile" lay-submit="">保存</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <label class="layui-form-label">新密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="passwd" required="" lay-verify="required" autocomplete="off"
                                class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">至少6个字符</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">确认密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="repasswd" required="" lay-verify="required" autocomplete="off"
                                class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn" lay-filter="passwd" lay-submit="">确认修改</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <table id="linktokenTable" class="layui-table" lay-filter="linktokenTable"></table>
                <blockquote class="layui-elem-quote">以下是您在站点中的个性化设置，仅在个人登录后有效，不会影响到其他人！</blockquote>
                <form class="layui-form layui-form-pane" id="control" lay-filter="setting" autocomplete="off">
                    <div class="layui-form-item">
                        <label class="layui-form-label">背景图</label>
                        <div class="layui-input-block">
                            <input type="text" name="ucfg_bg_mg" value="{{ g.userinfo.ucfg_bg_mg }}"
                                placeholder="背景图地址，下拉可选择默认提供的背景图" autocomplete="off" class="layui-input"
                                list="bg_mg_defaults">
                            <datalist id="bg_mg_defaults">
                                <option value="https://open.saintic.com/api/bingPic">
                                <option value="{{ url_for('static', filename='img/bg1.jpg') }}">
                                <option value="{{ url_for('static', filename='img/bg2.jpg') }}">
                                <option value="{{ url_for('static', filename='img/bg3.jpg') }}">
                                <option value="{{ url_for('static', filename='img/bg4.jpg') }}">
                                <option value="{{ url_for('static', filename='img/bg5.jpg') }}">
                            </datalist>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">背景透明度</label>
                        <div class="layui-input-block">
                            <input type="number" step=0.1 min=0 max=1 name="ucfg_bg_ransparency"
                                value="{{ g.userinfo.ucfg_bg_ransparency }}" placeholder="背景透明度，0-1之间（值越大越透明），默认是：0.5，目前仅首页有效"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">图片放大度</label>
                        <div class="layui-input-block">
                            <input type="number" step=0.1 min=1 max=2 name="ucfg_mypic_scale"
                                value="{{ g.userinfo.ucfg_mypic_scale }}" placeholder="定义我的图片页面鼠标悬浮图片时放大的倍数，1-2之间，默认是1不放大"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">图片数量</label>
                        <div class="layui-input-block">
                            <input type="number" step=1 min=1 max=100 name="ucfg_mypic_limit"
                                value="{{ g.userinfo.ucfg_mypic_limit }}" placeholder="定义我的图片页面每次查询图床的数量，默认10"
                                autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    {{ intpl("usersetting") }}
                    <div class="layui-form-item">
                        <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <div id="albums"></div>
                <div id="waterfall" class="waterfall"></div>
                <div id="page"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% include "ref/upload_show.html" %}
{% raw %}
<script type="text/html" id="linktoken_action">
    <div class="layui-btn-group">
        <a class="layui-btn layui-btn-xs" lay-event="copy">复制</a>
        {{# if(d.status === "1" || d.status === 1) { }}
        <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="disable">禁用</a>
        {{# } else { }}
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="enable">启用</a>
        {{# } }}
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
    </div>
</script>
<script type="text/html" id="toolbar">
    <div>
        <i class="layui-icon layui-icon-about" id="linktokentip"></i>
        Token分权引用表(LinkToken)：基于Token的最小权限分发引用，<a href="javascript:;" lay-event="newLink" style="color:#009688;font-weight:bold">添加一个引用</a>试试吧！
    </div>
</script>
<script type="text/html" id="show_editor_area">
    <form class="layui-form" style="padding:10px" lay-filter="linktokenForm">
        {{# if(d.action === "edit") { }}
        <div class="layui-form-item">
            <input type="text" class="layui-input layui-disabled" name="LinkId" autocomplete="off" required lay-verify="required" lay-verType="tips" value="{{ d.LinkToken }}" readonly>
        </div>
        {{# } }}
        <div class="layui-form-item">
            <input type="text" class="layui-input" name="allow_origin" placeholder="允许调用的安全来源根域名(有协议无路径)，逗号分隔多条" autocomplete="off" required lay-verify="required" lay-verType="tips">
        </div>
        <div class="layui-form-item">
            <input type="text" class="layui-input" name="allow_ip" placeholder="[可选]允许调用的安全来源IP，留空则不限制，逗号分隔多条" autocomplete="off">
        </div>
        <div class="layui-form-item">
            <input type="text" class="layui-input" name="album" placeholder="[可选]相册名，引用于上传图片接口时设置的默认相册" autocomplete="off">
        </div>
        <div class="layui-form-item">
            {{# if(d.action === "create") { }}
            <button class="layui-btn layui-btn-xs" lay-submit lay-filter="linktokenAdd">添加</button>
            {{# } }}
            {{# if(d.action === "edit") { }}
            <button class="layui-btn layui-btn-xs" lay-submit lay-filter="linktokenModify">修改</button>
            {{# } }}
        </div>
    </form>
</script>
{% endraw %}
<script>
    layui.use(['picbed', 'laypage', 'flow', 'form', 'element', 'layer', 'laytpl', 'util', 'table'], function () {
        var $ = layui.jquery,
            picbed = layui.picbed,
            util = layui.util,
            flow = layui.flow,
            form = layui.form,
            layer = layui.layer,
            table = layui.table,
            laytpl = layui.laytpl,
            element = layui.element,
            laypage = layui.laypage;

        //显示当前tab
        if (location.hash) {
            var layid = location.hash.replace(/^#!/, '').replace(/^#%21/, '').split('=')[0];
            element.tabChange('tab', layid);
        }
        //监听tab切换
        element.on('tab(tab)', function (data) {
            var othis = $(this),
                layid = othis.attr('lay-id');
            if (layid) {
                location.hash = '!' + layid;
            }
        });
        var curr = location.hash.replace('#!picbed=', ''),
            limit = parseInt("{{ request.args.limit or g.userinfo.ucfg_mypic_limit or 10 }}");
        //将所有图片数据提到"全局"
        var shaDatas = {};
        //获取我的图片流方法
        function get_pics(page, success) {
            var url = "{{ url_for('api.waterfall', sort='desc', is_mgr=request.args.is_mgr, album=request.args.album)|safe }}&limit=" + limit + "&page=" + page;
            picbed.ajax(url, function (res) {
                var html = res.data.map(function (img) {
                    img["ctime"] = util.toDateString(img.ctime * 1000);
                    img["is_control"] = true;
                    shaDatas[img.sha] = img;
                    return '<div class="pin"><img lay-src="' + img.src +'" data-sha="' + img.sha + '"></div>';
                }).join("");
                $("#waterfall").html(html);
                flow.lazyimg(); 
                typeof success === "function" && success(res);
                $("#waterfall").find(".pin img").on("click", function() {
                    var sha = $(this).data("sha"),
                        src = this.src;
                    laytpl(upload_show_tpl.innerHTML).render(shaDatas[sha], function(html){
                        layer.open({
                            type: 1,
                            title: false,
                            closeBtn: true,
                            area: document.body.clientWidth > 550 ? '550px' : 'auto',
                            maxHeight: '500px',
                            id: 'upload_show_area',
                            skin: 'my-layer',
                            shade: 0.1,
                            shadeClose: true,
                            btn: ['删除', '关闭', '原图'],
                            btnAlign: 'c',
                            content: html,
                            success: function(layero, indexo) {
                                element.render('tab');
                                if (shaDatas[sha]["status"] === 'deleted') {
                                    layero.children(".layui-layer-btn").children(".layui-layer-btn0").text("已删除");
                                }
                                $(layero).find('.upload_show_copy').on('click', function() {
                                    var copyId = $(this).data('copyid');
                                    picbed.Clipboard.copy($(copyId).text());
                                });
                            },
                            yes: function(index, layero){
                                //按钮【删除】的回调
                                if (layero.children(".layui-layer-btn").children(".layui-layer-btn0").text() === "确认删除") {
                                    picbed.ajax("{{ url_for('api.shamgr', sha='') }}" + sha, function(res) {
                                        layer.msg("已删除", {icon:1});
                                        shaDatas[sha]["status"] = "deleted";
                                        layero.children(".layui-layer-btn").children(".layui-layer-btn0").text("已删除");
                                    }, {
                                        method: 'delete'
                                    });
                                } else {
                                    if (layero.children(".layui-layer-btn").children(".layui-layer-btn0").text() === "删除") {
                                        layero.children(".layui-layer-btn").children(".layui-layer-btn0").text("确认删除");
                                    }
                                }
                            },
                            btn2: function(index, layero){
                                //按钮【关闭】的回调
                                layer.close(index);
                            },
                            btn3: function(index, layero) {
                                //按钮【原图】的回调
                                var id = "jump-" + sha,
                                    a = document.createElement("a");
                                a.style.display='none';
                                a.setAttribute("href", src);
                                a.setAttribute("target", "_blank");
                                a.setAttribute("id", id);
                                if(!document.getElementById(id)) {
                                    document.body.appendChild(a);
                                }
                                a.click();
                                return false;
                            },
                        });
                    });
                });
            }, {
                msgprefix: false,
                fail: function(res) {
                    $("#waterfall").text("无数据");
                }
            });
        }
        //初始加载图片
        get_pics(curr, function (res) {
            laypage.render({
                elem: 'page',
                count: res.count,
                limit: limit,
                hash: 'picbed',
                curr: curr, //起始页
                jump: function (obj, first) {
                    if (!first) {
                        get_pics(obj.curr);
                    } else {
                        //初始加载相册列表
                        var uri = "{{ (url_for('front.my', is_mgr=request.args.is_mgr) + '&album=')|safe if request.args.is_mgr else url_for('front.my', album='') }}";
                        var html = '<a href="' + uri.replace("?album=", "").replace("&album=", "") + '#!picbed"><span class="layui-badge">所有图片</span></a>&nbsp;&nbsp;';
                        html += res.albums.map(function(album) {
                            return '<a href="' + uri + album + '#!picbed"><span class="layui-badge layui-bg-green">' +  album + '</span></a>&nbsp;&nbsp;';
                        }).join('');
                        $("#albums").html(html);
                    }
                }
            });
        });
        //监听资料修改
        form.on('submit(profile)', function(data){
            var post = data.field;
            delete post.token;
            picbed.ajax("{{ url_for('api.my', Action='updateProfile') }}", function(res) {
                layer.msg("已修改资料", {icon:1});
                if (post.avatar) {
                    $("#avatar").attr("src", post.avatar);
                }
                if (post.nickname) {
                    $("#nickname").text(post.nickname);
                }
            }, {
                method: 'PUT',
                data: post
            });
            return false;
        });
        //监听密码修改
        form.on('submit(passwd)', function(data){
            picbed.ajax("{{ url_for('api.my', Action='updatePassword') }}", function(res) {
                layer.msg("已修改密码", {icon:1});
            }, {
                method: 'PUT',
                data: data.field
            });
            return false;
        });
        //监听token动作
        $("#createToken").on("click", function() {
            picbed.ajax("{{ url_for('api.token', Action='create') }}", function(res) {
                layer.msg("Token创建成功", {icon:1});
            　　$("#token").removeAttr("readonly");
                form.val("profileForm", {token: res.token});
                $("#token").attr("readonly","readonly");
                $("#yesToken").removeClass("layui-hide");
                $("#yesToken").addClass("layui-show");
                $("#noToken").removeClass("layui-show");
                $("#noToken").addClass("layui-hide");
            })
        });
        $("#revokeToken").on("click", function() {
            picbed.ajax("{{ url_for('api.token', Action='revoke') }}", function(res) {
                layer.msg("Token已销毁", {icon:1});
            　　$("#token").removeAttr("readonly");
                form.val("profileForm", {token: ''});
                $("#token").attr("readonly","readonly");
                $("#yesToken").removeClass("layui-show");
                $("#yesToken").addClass("layui-hide");
                $("#noToken").removeClass("layui-hide");
                $("#noToken").addClass("layui-show");
            })
        });
        $("#resetToken").on("click", function() {
            picbed.ajax("{{ url_for('api.token', Action='reset') }}", function(res) {
                layer.msg("Token重置成功", {icon:1});
            　　$("#token").removeAttr("readonly");
                form.val("profileForm", {token: res.token});
                $("#token").attr("readonly","readonly");
                $("#yesToken").removeClass("layui-hide");
                $("#yesToken").addClass("layui-show");
                $("#noToken").removeClass("layui-show");
                $("#noToken").addClass("layui-hide");
            })
        });
        $("#copyToken").on("click", function() {
            picbed.Clipboard.copy($("#token").val());
        });
        //监听相册修改
        form.on('submit(updateAlbumSubmit)', function(data){
            var album = data.field.album,
                sha = data.field.sha;
            picbed.ajax("{{ url_for('api.shamgr', sha='') }}" + sha, function(res) {
                layer.msg("已修改", {icon:1});
                shaDatas[sha]["album"] = album;

            }, {
                method: "PUT",
                data: {Action: "updateAlbum", album: album}
            });
            return false;
        });
        //监听用户设置
        form.on('submit(*)', function(data){
            console.log(data.field);
            if (document.forms['control'].checkValidity() === false) {
                layer.msg("发现部分参数不合法",{icon:0});
                document.forms['control'].reportValidity();
                return false;
            }
            picbed.ajax("{{ url_for('api.my', Action='updateUserCfg') }}", function(res) {
                if (res.code === 0) {
                    layer.msg("已修用户改配置", {icon:1});
                } else {
                    layer.msg(res.msg, {icon:0});
                }
            }, {
                method: "PUT",
                data: data.field
            });
            return false;
        });
        //以下是Token分权表格管理
        function showCopyLinkToken(LinkToken) {
            let content = [
                '<div style="padding: 15px"><p>已成功添加新引用！</p>',
                '<scan style="color:green;font-weight:bold">LinkToken:</scan> ' + picbed.str2star(LinkToken, 8, -8),
                '<scan style="color:green;font-weight:bold">LinkScript:</scan> 在外部网站中使用js自动上传到picbed。',
                '&nbsp;&nbsp;&nbsp;- 手动方式需要写js，在引用页面调用up2picbed函数初始化，相对复杂，但灵活度高!',
                '&nbsp;&nbsp;&nbsp;- 自动方式不需要写js，所有选项可通过dataset定义，但有局限，详细使用请参考文档！',
                '</div>',
            ].join("<br>");
            let sdk = "{{ url_for('static', filename='sdk/uploader.js', _external=True) }}",
                url = "{{ url_for('api.upload', _external=True) }}";
            layer.open({
                type: 1,
                title: false,
                closeBtn: true,
                area: '430px',
                maxHeight: '500px',
                skin: 'my-layer',
                shade: 0.1,
                shadeClose: true,
                btn: ['复制手动引用', '仅复制LinkToken', '复制自动引用'],
                btnAlign: 'c',
                content: content,
                yes: function(index, layero){
                    //按钮【复制手动引用】的回调
                    picbed.Clipboard.copy(`<script src="${sdk}" data-url="${url}" data-token="${LinkToken}"><\/script>`);
                    return false;
                },
                btn2: function(index, layero) {
                    //按钮【仅复制LinkToken】的回调
                    picbed.Clipboard.copy(LinkToken);
                    return false;
                },
                btn3: function(index, layero){
                    //按钮【复制自动引用】的回调
                    picbed.Clipboard.copy(`<script src="${sdk}" data-url="${url}" data-token="${LinkToken}" data-auto="true"><\/script>`);
                    return false;
                },
            });
        }
        var tableIns = table.render({
            elem: '#linktokenTable',
            url: '{{ url_for("api.link", is_mgr=request.args.is_mgr) }}',
            page: false,
            size: 'sm',
            cols: [
                [{
                        field: 'LinkId',
                        title: 'ID',
                        width: 80,
                        fixed: 'left'
                    },
                    {
                        field: 'LinkToken',
                        title: 'LinkToken',
                        hide: true
                    },
                    {
                        field: 'user',
                        title: '所属',
                        width: 70,
                        hide: true,
                    },
                    {
                        field: 'album',
                        title: '相册',
                        width: 90,
                    },
                    {
                        field: 'allow_origin',
                        title: '允许来源主机',
                    },
                    {
                        field: 'allow_ip',
                        title: '允许来源IP',
                        width: 90
                    },
                    {
                        field: 'ctime',
                        title: '创建时间',
                        width: 145,
                        templet: function (d) {
                            return util.toDateString(parseInt(d.ctime) * 1000);
                        }
                    },
                    {
                        field: 'mtime',
                        title: '修改时间',
                        width: 150,
                        hide: true,
                        templet: function (d) {
                            return d.mtime ? util.toDateString(parseInt(d.mtime) * 1000) : '暂无修改';
                        }
                    },
                    {
                        field: 'status',
                        title: '状态',
                        width: 70,
                        templet: function (d) {
                            return (d.status === 1 || d.status === "1") ?  '<scan style="color:#5FB878">启用中</scan>' : '<scan style="color:#FF5722">已禁用</scan>';
                        }
                    },
                    {
                        fixed: 'right',
                        width: 170,
                        align: 'center',
                        toolbar: '#linktoken_action'
                    }
                ]
            ],
            toolbar: '#toolbar',
            title: 'LinkToken',
            defaultToolbar: [{
                title: '重载表格',
                layEvent: 'LAYTABLE_RELOAD', //事件名，用于 toolbar 事件中使用
                icon: 'layui-icon-refresh' //图标类名
            }, 'filter', 'print', 'exports'],
            done: function() {
                $("#linktokentip").on("mouseover", function() {
                    let tip = [
                        "&nbsp;&nbsp;&nbsp;&nbsp;Token分权引用(LinkToken)是将Token的映射，Token权限颗粒化，方便分发。",
                        "用户可以创建分权引用，定义调用此引用的安全来源主机地址、IP，并限定访问某个路由或某个路径，提交后会得到一个最小权限的LinkToken！",
                        "然后就可以在其他网站跨域调用(请求头格式 => Authorization:LinkToken 值)，比如上传图片，实际上也是为了外部上传图片开发的。",
                        "可引申为授权，LinkToken可以随处使用，即便丢失也不会影响其他，禁用或删除即可，不会泄露Token。"
                    ].join("<br>&nbsp;&nbsp;&nbsp;&nbsp;");
                    layer.tips(tip, "#linktokentip", {tips:3, time:10000});
                });
            }
        });
        //监听工具条
        table.on('tool(linktokenTable)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            if (layEvent === "edit") {
                laytpl(show_editor_area.innerHTML).render({action: "edit"}, function (html) {
                    layer.open({
                        type: 1,
                        shade: 0.1,
                        shadeClose: true,
                        cloaseBtn: true,
                        title: '修改引用',
                        skin: 'layui-layer-molv',
                        area: '400px',
                        content: html,
                        success: function () {
                            form.val("linktokenForm", data);
                            form.render();
                        }
                    });
                });
            } else if (layEvent === "del") {
                layer.confirm('确认删除引用吗？', {
                    icon: 3,
                    title: false,
                    closeBtn: 0,
                    btn: ['确认删除','取消'] //按钮
                }, function(index) {
                    picbed.ajax("{{ url_for('api.link') }}", function(res) {
                        layer.msg("已删除引用", {icon:1});
                        obj.del();
                    }, {
                        method: "DELETE",
                        data: {LinkId:data.LinkId}
                    });
                    layer.close(index);
                }, function(index){
                    layer.close(index);
                });
            } else if (layEvent === "copy") {
                showCopyLinkToken(data.LinkToken);
            }  else if (layEvent === "disable") {
                picbed.ajax('{{ url_for("api.link", Action="disable") }}', function(res) {
                    layer.msg("已禁用", {icon:1});
                    obj.update({status: 0});
                }, {
                    method: "PUT",
                    data: {LinkId: data.LinkId}
                });
            }   else if (layEvent === "enable") {
                picbed.ajax('{{ url_for("api.link", Action="enable") }}', function(res) {
                    layer.msg("已启用", {icon:1});
                    obj.update({status: 1});
                }, {
                    method: "PUT",
                    data: {LinkId: data.LinkId}
                });
            }
        });
        //监听头部工具栏事件
        table.on('toolbar(linktokenTable)', function (obj) {
            var layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === "newLink") {
                laytpl(show_editor_area.innerHTML).render({action: "create"}, function (html) {
                    layer.open({
                        type: 1,
                        shade: 0.1,
                        shadeClose: true,
                        cloaseBtn: true,
                        title: '添加新引用',
                        skin: 'layui-layer-molv',
                        area: '400px',
                        content: html,
                        success: function () {
                            form.render();
                        }
                    });
                });
            } else if (layEvent === "LAYTABLE_RELOAD") {
                tableIns.reload();
            }
        });
        //监听引用添加按钮提交
        form.on('submit(linktokenAdd)', function (data) {
            picbed.ajax('{{ url_for("api.link") }}', function(res) {
                layer.closeAll('page');
                showCopyLinkToken(res.LinkToken);
                tableIns.reload();
            }, {
                data: data.field
            });
            return false;
        });
        //监听引用修改按钮提交
        form.on('submit(linktokenModify)', function (data) {
            picbed.ajax('{{ url_for("api.link") }}', function(res) {
                layer.msg("已修改", {icon:1});
                layer.closeAll('page');
                tableIns.reload();
            }, {
                method: "PUT",
                data: data.field
            });
            return false;
        });
    });
</script>
{% endblock %}
