<!--导航-->
<a class="layui-logo" href="{{ url_for('front.index') }}">
    <img src="{{ g.site.logo or url_for('static', filename='img/logo.png') }}">
</a>
<ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item {% if request.endpoint == 'front.index' %}layui-this{% endif %}">
        {% if request.endpoint == 'front.index' %}
        <a>首页</a>
        {% else %}
        <a href="{{ url_for('front.index') }}">首页</a>
        {% endif %}
    </li>
    {% if g.signin %}
    <li class="layui-nav-item">
        <a href="javascript:;">
            <img src="{{ g.userinfo.avatar or 'https://static.saintic.com/cdn/images/defaultAvatar.png' }}"
                class="layui-nav-img">
            {{ g.userinfo.nickname or g.userinfo.username }}
        </a>
        <dl class="layui-nav-child">
            {% if request.endpoint == "front.my" %}
            <dd><a>个人资料</a></dd>
            <dd><a>我的图片</a></dd>
            {% else %}
            <dd><a href="{{ url_for('front.my', _anchor='!profile') }}">个人资料</a></dd>
            <dd><a href="{{ url_for('front.my', _anchor='!picbed') }}">我的图片</a></dd>
            {% endif %}
            {% if g.is_admin %}
            <dd><a href="{{ url_for('front.admin') }}">站点管理</a></dd>
            {% endif %}
            <hr class="navbar-divider">
            <dd><a href="{{ url_for('front.logout') }}">登出</a></dd>
        </dl>
    </li>
    {% else %}
    <li class="layui-nav-item {% if request.endpoint == 'front.login' %}layui-this{% endif %}">
        {% if request.endpoint == 'front.login' %}
        <a>登录</a>
        {% else %}
        <a href="{{ url_for('front.login') }}">登录</a>
        {% endif %}
    </li>
    {% endif %}
</ul>