{% extends "layout/public.html" %}

{% block title %}登录{% endblock %}

{% block head %}
<style>
    /*登录区域*/
    .layui-input-block {
        margin-left: 0;
    }
    .login-area {
        width: 266px;
        border-radius: 20px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .remember {
        text-align: left;
    }
    .login-area .title {
        color: #009688;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
    }
</style>
{% endblock %}

{% block content %}
<div class="login-area">
    <h3 class="title">{{ g.site.login_title or '登录你的Picbed' }}</h3>
    {% raw %}
    <div class="layui-form" id="login">
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="text" placeholder="请输入登录用户" autocomplete="off" class="layui-input" v-model="username">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="password" placeholder="请输入登录密码" autocomplete="off" class="layui-input" v-model="password">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-inline remember">
                <input type="checkbox" lay-ignore value="1" v-model="checked" title="记住我" lay-skin="primary"> 记住我7d
            </div>
            <a :href="forgotURL">忘记密码</a>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-fluid" @click="login">登录</button>
            </div>
        </div>
    </div>
    {% endraw %}
</div>
{% endblock %}

{% block script %}
<script src="https://cn.vuejs.org/js/vue.min.js"></script>
<script>
    var picbed = layui.picbed;
    new Vue({
        el: '#login',
        data: {
            username: '',
            password: '',
            checked: true,
            error: null,
            forgotURL: "{{ url_for('front.forgot') }}",
        },
        methods: {
            login: function() {
                var body = {
                    username: this.username,
                    password: this.password,
                    set_state: true,
                    remember: this.checked,
                };
                var utip = picbed.checkUsername(body.username);
                if (!body.password) this.error = "请输入密码";
                if (utip) this.error = utip;
                if (utip || !body.password) return false;
                picbed.ajax("{{ url_for('api.login') }}", function(res) {
                    var next = res.next || "{{ request.args.next or g.next }}";
                    layer.msg("登录成功，即将跳转...", {icon:1,time:1000}, function() {
                        location.href = location.hash ? next + location.hash : next;
                    });
                }, {
                    data: body
                });
            }
        },
        watch: {
            error: function(text) {
                if (text) {
                    layer.msg(text, {icon:2});
                    this.error = null;
                }
            }
        }
    })
</script>
{% endblock %}